export FCREPO_DOMAIN=<your fcrepo uri>
export FCREPO_EXTERNAL_PORT=<your free port number for the fcrepo>
export FCREPO_PORT=8080

export SOLR_DOMAIN=<your solr uri>
export SOLR_EXTERNAL_PORT=<your free port number for solr>
export SOLR_PORT=8983

export FUSEKI_DOMAIN=<your fuseki uri>
#export FUSEKI_DOMAIN=<your free port number for fuseki>
export FUSEKI_EXTERNAL_PORT=<your free port number for fuseki>
export FUSEKI_PORT=3030

export FCREPO_STORAGE=<path to your storage>

